@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .hero-background-image {
    /* Multi-dimensional network visualization representing comprehensive risk assessment */
    background-image: url('../assets/background.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
  }
}